extends base.pug
    
block content
    h4 Update video
    form(method="POST")
        input(placeholder="Video Title" required type="text" name="title"  maxLength=80 value=video.title) 
        input(placeholder="Description" required type="text" name="description" minLength=20 value=video.description) 
        input(placeholder="Hashtags, separated by comma" required type="text" name="hashtags", value=video.hashtags.join())
        input(type="submit" value="Change Title")